.container {
    padding: 2rem;
    max-width: 2100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 8rem);
    @media screen and (max-width: 479px){
      padding: 1rem;
    }
    .flexContainer{
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }
  }